<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Manage Person</h1>
    </section>
    <div class="row">
        <script type="text/javascript">
            $(document).ready(function () {
                location.replace("~Page1.aspx")
            });

        </script>
    </div>
</main>